<form>
    <div class="form-group">
      <label for="exampleInputEmail1">Search</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
  
  </form>
  <div>
    <h4>Grab yourself some nice cup of <br>coffee as we nitpick</h4>

    <i class="bi bi-house-door-fill"></i>
    <i class="bi bi-book-fill"></i>
    <h3>Logout:</h3>
    <h6>Title:</h6>
    <h6>Author:</h6>
    <h6>Description:</h6>
    <h6>Publisher:</h6>
  </div>